#texte_arrive{
    margin-top: 50px;
}
.intro{
    margin-left: 20px;
}
.nom{
    text-decoration: underline;
    margin-left: 15px;
    font-size: large;
}
.caca{
    margin-left: 15px;
}

#image{
    margin-left: 125px;
}

.GT5{
    margin-left: 20px;
}

#image1{
    margin-top: 50px;
    margin-right: 50px;
}   