.hero {
    margin-top: 60px;
    background-color: beige;
}

.ctp_rd{
    text-align: center;
    margin-bottom: 60px;
}
#texte_arrive{
    margin-top: 50px;
}
#intro{
    margin-left: 20px;
}
.nom{
    text-decoration: underline;
    margin-left: 15px;
    font-size: large;
}
.caca{
    margin-left: 15px;
}

#image{
    margin-left: 125px;
}